/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,600&display=swap"); */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.location-cards {
  @apply flex 
  flex-col
  w-52 
  h-5/6
  rounded-xl
  shadow-xl 
  bg-gray-200;
}

.location-cards > div {
  @apply md:w-1/2;
}

.location-cards img {
  @apply rounded-t-md
  md:rounded-l-md 
  md:h-full 
  object-cover;
}

/* button element for loacation cards */
.card-discover-button {
  @apply bg-primary
  rounded-md
  p-2.5
  w-10/12
  shadow-2xl
  text-center
  text-white 
  bg-white 
  text-lg;
}

/* section outer element that dispalys after user clicks discover now button */
.location-section {
  @apply hidden 
  xl:container
  h-full
  w-full
  mt-24
  mx-auto
bg-primary
  rounded-md
  shadow-2xl;
}

.location-list-header {
  @apply text-xl
  text-center
  text-white
  bg-indigo-900
  p-4
  mb-4
  shadow-md 
  rounded-lg
  md:text-2xl md:p-8;
}

.location-list-items {
  transition: ease-in-out 0.8s;
  @apply flex
  flex-col
  justify-around
  shadow-md
  rounded-md
  text-center
  w-full
  p-3
  bg-white;
}

.location-list-items-clicked {
  height: calc(50% + 80px);
  margin-bottom: 100px;
  @apply text-gray-800;
}

.location-list-container {
  @apply h-full
  grid
  grid-cols-1
  auto-rows-auto
  gap-x-8
  gap-y-4;
}

.mystyle {
  @apply bg-primary
  rounded-md
text-white
  p-2
  mt-3
  uppercase
  w-full
  mx-auto;
}

.map {
  @apply h-96
  w-auto 
  m-2.5 
  md:h-96 
  md:w-1/2 
  md:mr-8;
}

/* quick explore section grid */
.explore-grid-image {
  @apply grid
  grid-flow-col
  gap-4 bg-white
  pt-4 
  overflow-auto
  p-3;
}

.explore-grid-image div {
  @apply w-72
  md:w-auto;
}

.explore-grid-image img {
  @apply rounded-md;
}

.explore-grid-image h1 {
  @apply text-2xl
  py-4 
  pl-2;
}

/* grid dislplaying city lication links to google maps */
.explore-grid-text {
  @apply grid 
  grid-flow-row 
  gap-4 
  text-white
  md:grid-flow-col
  lg:h-56;
}

.explore-grid-text > div {
  @apply bg-primary 
  rounded-lg;
}

.explore-grid-text h1 {
  @apply text-xl 
  text-center 
  pt-3 
  pb-1 
  mx-4 
  border-yellow-600 
  border-b-2
  md:text-2xl;
}

.explore-grid-text h2 {
  @apply md:text-lg;
}

.explore-grid-list-items {
  @apply px-6
  pt-8
  pb-4
  divide-y-2 
  divide-yellow-800;
}

.explore-grid-list-items li {
  @apply flex 
  justify-between 
  items-center;
}

.explore-grid-list-items li:first-child {
  @apply pb-2;
}

.explore-grid-list-items li:not(:first-child) {
  @apply pt-2
  pb-2;
}

.icon-location {
  @apply inline-block
  fill-current
  text-white
  h-6
  w-6;
}

@screen sm {
  .location-list-container {
    @apply grid-rows-5
    grid-cols-2
    pb-36;
  }
}

@screen sm {
  .location-cards {
    @apply md:flex-row md:w-96 md:h-4/6;
  }
}
