/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,600&display=swap"); */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*! purgecss start ignore */

.discover-cards {
  @apply flex 
  flex-col
  w-52 
  h-5/6
  rounded-xl
  shadow-xl 
  bg-white;
}

@screen sm {
  .discover-cards {
    @apply md:flex-row md:w-96 md:h-3/4;
  }
}

.discover-cards > div {
  @apply md:w-1/2;
}

.discover-cards img {
  @apply rounded-t-md
  md:rounded-l-md 
  md:h-full 
  object-cover;
}

/* button element for discover cards */
.discover-cards button {
  @apply bg-primary
  rounded-md
  p-2.5
  w-10/12
  shadow-2xl
  text-center
  text-white 
  text-lg
  hover:bg-gray-300 
  hover:text-primary;
}
/* disover cards h1 element */
.discover-cards h1 {
  @apply text-center
text-gray-700
  text-lg
  md:text-xl;
}

/* section outer element that dispalys after user clicks discover now button */
.location-section {
  @apply hidden
  mt-24
  mx-auto
bg-primary
  rounded-md
  shadow-2xl
  xl:container;
}
/* location list heading above ul element */
.location-list-header {
  @apply text-xl
  text-center
  text-white
  bg-indigo-900
  p-4
  mb-4
  shadow-md 
  rounded-lg
  md:text-2xl md:p-8;
}
/* location list elements */
.location-list-items {
  transition: ease-in-out 0.8s;
  @apply flex
  flex-col
  justify-around
  shadow-md
  rounded-md
  text-center
  p-3
  bg-white;
}
/* Added style to grid list items when user clicks ( see line 78 in JS) */
.location-list-items-clicked {
  height: calc(50% + 80px);
  margin-bottom: 100px;
  @apply text-gray-800;
}
/* Grid element for location list items*/
.location-list-grid {
  @apply h-full
  grid
  grid-cols-1
  auto-rows-auto
  gap-x-4
  gap-y-4
  md:pb-36
  lg:gap-x-8;
}
/* Grid element for location list items at screens larger than 640px*/
@screen sm {
  .location-list-grid {
    @apply grid-rows-5
    grid-cols-2;
  }
}
/* H1 element in grid list items*/
.list-heading {
  @apply text-xl;
}
/* button for location list grid (find out more) */
.button-list {
  @apply bg-primary
  rounded-md
text-white
  p-2
  mt-3
  uppercase
  w-full
  mx-auto;
}
/* Google Map */
.map {
  @apply h-96
  w-auto 
  m-2.5 
  md:h-96 
  md:w-1/2;
}

/* quick explore section grid */
.explore-grid-image {
  @apply grid
  grid-flow-col
  gap-4 bg-white
  pt-4 
  overflow-auto
  p-3;
}

.explore-grid-image div {
  @apply w-72
  md:w-auto;
}

.explore-grid-image img {
  @apply rounded-md;
}

.explore-grid-image h1 {
  @apply text-2xl
  py-4 
  pl-2;
}

/* grid dislplaying city lication links to google maps */
.explore-grid-text {
  @apply grid 
  grid-flow-row 
  gap-4 
  text-white
  md:grid-flow-col;
}

.explore-grid-text > div {
  @apply bg-primary 
  rounded-lg;
}

.explore-grid-text h1 {
  @apply text-xl 
  text-center 
  pt-3 
  pb-1 
  mx-4 
  border-yellow-600 
  border-b-2
  md:text-2xl;
}

.explore-grid-text h2 {
  @apply md:text-lg;
}

.explore-grid-list-items {
  @apply px-6
  pt-8
  pb-4
  divide-y-2 
  divide-yellow-800;
}

.explore-grid-list-items li {
  @apply flex 
  justify-between 
  items-center
  transition 
  ease-in-out
  duration-300
  hover:text-yellow-600;
}

.explore-grid-list-items li:first-child {
  @apply pb-2;
}

.explore-grid-list-items li:not(:first-child) {
  @apply pt-2
  pb-2;
}

.icon-location {
  @apply inline-block
  fill-current
  h-6
  w-6;
}

/*! purgecss end ignore */
